#tableGrid {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tableGrid td,
#tableGrid th {
  border: 1px solid #ddd;
  padding: 8px;
  cursor: move;
}

#tableGrid tr:hover {
  background-color: #ddd;
}

#tableGrid th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

.wrapper {
  position: relative;
  overflow: auto;
  border: 1px solid black;
  white-space: nowrap;
}
.sticky-col {
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
}
